body {
  background-image: radial-gradient(circle at top right , white, red);
  width: 1200px;
  height: 900px;
}

.satu{
  border: 2px solid black;
  height: 550px;
  width: 900px;
  margin-left: 400px;
  background-image: radial-gradient(ellipse at bottom, white, blue);
  position: static;
}
.dua {
  border: 2px solid black;
  height: 200px;
  width:900px;
  margin-left: 400px;
  background-image: radial-gradient(circle, blue, white);
}
